{% extends 'base.html'%}
{% block title %}
Register Page
{% endblock %}

{% block content %}
<!--<h1>Register Form</h1>-->
<!--{{ form }}-->
<!--<form action=""></form>-->
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white;">
            {{ form.hidden_tag() }}
            <br>
            <!--<img class="mb-4" style="height:200px" src=" {{ url_for('static', filename='images/anonymous-circle-cropped.png') }} " alt="">-->
            <br>
            <h1 class="h3 mb-3 font-weight-normal">Register Account</h1>
            <!--<br>-->
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Enter Username") }}
            <br>
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Enter Email Address") }}
            <br>
            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Enter Password") }}
            <br>
            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}
            <br>
            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login here</a>
            </div>
            <!--<br>-->
            <!--{{ form.submit.label() }}-->
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}