{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>
{% endblock %}

{% block body %}
<br>
<h1>Edit Post</h1>

<hr>
<br>
<h2>Edit Blog Post:</h2>
<!-- <form action="/posts" method="POST"> -->
<!-- <form action="/posts/edit/{{ post.id }}" method="POST">
    Title: <input type="text" name="title" id="title" value="{{ post.title }}">
    <br>
    Author: <input type="text" name="author" id="author" value="{{ post.author }}">
    <br>
    Post: <input type="text" name="content" id="content" value="{{ post.content }}">
    <br>
    <input type="submit" value="Update">
</form> -->
<form action="/posts/edit/{{ post.id }}" method="POST">
    <label for="title">Title:</label>
    <input class="form-control" type="text" name="title" id="title" value="{{ post.title }}" aria-label="Enter Title">
    <br>
    <label for="author">Title:</label>
    <input class="form-control" type="text" name="author" id="author" value="{{ post.author }}" aria-label="Enter Author">
    <br>
    <label for="content">Post:</label>
    <textarea class="form-control" name="content" id="content"  aria-label="Enter Content" rows="3">{{ post.content }}</textarea>
    <br>
    <input type="submit" value="Update">
</form>
<br>
<hr>
{% endblock %}